style.css
.gallery-image {
    height: 500px;
    object-fit: cover;
}


.carousel-inner {
    max-height: 400px;
    overflow: hidden;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e6f7ff;
    color: #333;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color: #948a8a;
    color: #000000;
    text-align: center;
    padding: 1rem 0;
}

h1, h2, h3 {
    margin-bottom: 1rem;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
    color: #75777a;
}

h3 {
    font-size: 1.5rem;
    color:  #75777a
}

.container {
    max-width: 800px;
    margin: 2rem auto;
    background-color: #585656;
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

p {
    margin-bottom: 1.5rem;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #4c4f52;
    color: #5f5b5b;
    margin-top: 2rem;
}
